/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: "Inter-Variable", sans-serif;
    --font-accent: "PressStart2P", sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --border-color: #000;
    --main-color: #000;
    --bg-color: #fff;
    --button-color: #000;
    --filling-color: #ff0000;
    --font-size-small: 0.875rem;
    --font-size-main: 1.125rem;
    --bg-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a 100%
      );
}
